body {
  color: #000;
  background: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 100%;
  font-weight: 400;
  margin-left:auto;
  margin-right:auto;
  max-width: 600px;
}
       
h1 {
  font-size: 40px;
  font-weight:500;
}
      
h2 {
  font-size: 30px;
  font-weight:500;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 16px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

ul {
  font-size: 18px;
  line-height: 1.6;
}

blockquote {
  font-size: 14px;
  font-weight: 600;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  padding: 15px;
}