---
layout: default
---

	<h1><a href="http://markhgn.github.io/">Mark Higginson</a></h1>
	<h2>The web is a social artifact<br>
	Here is a selected collection of related items</h2>
	<p>&nbsp;</p>

{% for post in paginator.posts %}

  <div>
    <h3><a href="{{ post.url }}">{{ post.date | date_to_long_string }}</a></h3>
    <p>{{ post.content }}</p>
    <h3>Let me know what you think on <a href="https://twitter.com/markhgn">Twitter</a></h3>
	<p>&nbsp;</p>
  </div>

{% endfor %}

<div class="pagination">
        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
          <a href="/">Previous</a> | 
          {% else %}
          <a href="/page{{ paginator.previous_page }}">Previous</a> | 
          {% endif %}
        {% else %}
        <span class="disabled">Previous</span> | 
        {% endif %}
        {% if paginator.page == 1 %}
        <span class="active">1</span>
        {% else %}
        <a href="/">1</a>
        {% endif %}
        {% for count in (2..paginator.total_pages) %}
          {% if count == paginator.page %}
          <span class="active">{{ count }}</span>
          {% else %}
          <a href="/page{{ count }}">{{ count }}</a>
          {% endif %}
        {% endfor %}
        {% if paginator.next_page %}
         | <a href="/page{{ paginator.next_page }}">Next</a>
        {% else %}
         | <span class="disabled">Next</span>
        {% endif %}
    </div>